VITE_API_BASE_URL=https://func-aiverse-backend-dwgpguatgadjezae.centralindia-01.azurewebsites.net/api

# Leave empty until you receive the Azure Function key.
# Mail will send through API only after this value is set.
VITE_EMAIL_API_KEY=

# Backend email function name (change only if your API uses a different route)
VITE_REQUEST_DEMO_EMAIL_ENDPOINT=send-demo-request
